.img1 img{
	width: 500px;
    height: auto;
    display: block;
    
}
#aplicacoes {
	padding-top: 30px;
}
.aplicacoes p{
	font-size: 14px;
}

.aplicacoes h2{
	color: #696AA3;
	 font-weight: bold;
}

.aplicacoes h3{
	margin-top: 20%;
	color: #ABA543;
	 font-weight: bold;
}

