/*inicio do contato*/

#contatos{
	background-color: #4D5DAB;
}
.contatos
{
	background-color: #4D5DAB;
	padding: 40px;
}
.contatos p
{	

	text-align: left;
	color: white;
	font-size: 12px;


}


.cont h2
{
	text-align: justify;
	color: white;

}
.contatos h4
{
	text-align: justify;
	color: white;


}

