.Menu
{
	padding: 4px;
	background-color: #4D5DAB !important;
	text-align: center;
	color: white;
	font-weight: lighter;

}
#Menu{
	background-color: #4D5DAB !important;
    margin-top: 15px;
}
.Menu p{
        margin-top: 15px;
	color: white !important;
}
.Menu h4{
	background-color: #4D5DAB !important;
}


.Menu a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid;
    margin: -4px -4px;
    display: block;
    margin-top: -4px;
    border-top: -2px;
    line-height: 1.5;
    height: 25px;
}