#sn
{
	background-color: white;
	padding: 80px 0;
}

.sn h3
{

	padding-bottom: 40px;
	text-transform: uppercase;
	color: #696AA3;

}
.sn h2
{

	text-transform: uppercase;
	color: #ABA543;

}
.sn p {
  color: black;
}






/fim do Sobre nós/