#sn
{
	background-color: white;
	padding-top: 80px;
	padding-bottom: 20px;
}

.sn h3
{

	padding-bottom: 40px;
	text-transform: uppercase;
	color: #696AA3;
	 font-weight: bold;

}
.sn h2
{

	text-transform: uppercase;
	color: #ABA543;
	 font-weight: bold;

}
.sn p {
  color: black;
  font-size: 14px;
}

.sn img{
	width: 400px;
    height: auto;
    display: block;
    
}
}






/fim do Sobre nós/